:root {
  --clr-reaction_bg: rgb(255, 246, 245);
  --clr-memory_bg: rgb(255, 251, 242);
  --clr-verbal_bg: rgb(242, 251, 250);
  --clr-visual_bg: rgb(243, 243, 253);

  --clr-reaction_text: hsl(0, 100%, 67%);
  --clr-memory_text: hsl(39, 100%, 56%);
  --clr-verbal_text: hsl(166, 100%, 37%);
  --clr-visual_text: hsl(234, 85%, 45%);

  /* gradients */

  /* background */
  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: rgb(46, 43, 233);

  /* circle */
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0);

  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavander: hsl(241, 100%, 89%);
  --clr-light-lavander-transparent: hsla(241, 100%, 89%, 0.6);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-gray: rgb(155, 150, 157);


  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* Visually hidden, but available for screen reader */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

.results_summary_component {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  box-shadow: 0 20px 80px -20px rgba(46, 43, 233, 0.2);
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 1.5625rem 0 2.5rem;
  background-image: linear-gradient(180deg, var(--clr-light-slate-blue) 0%, var(--clr-light-royal-blue) 100%);
}

.score__title {
  margin-bottom: 1.4375rem;
  color: var(--clr-light-lavander);
  font-size: 1.125rem;
}

.score__container {
  margin-bottom: 1.5rem;
  border-radius: 50%;
  padding: 1.5rem 2.5rem 1.25rem 2.5rem;
  overflow: hidden;
  background-image: linear-gradient(180deg, var(--clr-violet-blue) 0%, var(--clr-persian-blue) 100%);
}

.score__value {
  color: var(--clr-light-lavander-transparent);
  text-align: center;
}

.accent {
  display: block;
  color: var(--clr-white);
  font-weight: var(--fw-extra-bold);
  font-size: 3.625rem;
}

.score__evaluation {
  margin-bottom: 0.5625rem;
  color: var(--clr-white);
  font-size: 1.5rem;
}

.score__text {
  padding: 0 3.125rem;
  color: var(--clr-light-lavander);
  font-size: 1rem;
  text-align: center;
}

.summary {
  padding: 0 1.9375rem;
}

.summary__title {
  margin-bottom: 1.4375rem;
  font-size: 1.125rem;
}

.summary__list {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  margin-bottom: 1.3125rem;
  list-style: none;
}

.summary__list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  padding: 1.1875rem 0.9375rem 1.1875rem 2.875rem;
}

.summary__list-item::before,
.summary__list-item::after,
.summary__list-item>:first-child::before,
.summary__list-item>:first-child::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0.75rem;
  opacity: 0.14;
}

.summary__list-item::before {
  top: -0.0625rem;
  left: -0.0625rem;
}

.summary__list-item::after {
  top: -0.0625rem;
  right: -0.0625rem;
}

.summary__list-item>:first-child::before {
  bottom: -0.0625rem;
  left: -0.0625rem;
}

.summary__list-item>:first-child::after {
  right: -0.0625rem;
  bottom: -0.0625rem;
}

.bg_image {
  background-position: 0.8125rem;
}

.reaction_bg::before,
.reaction_bg::after,
.reaction_bg>:first-child::before,
.reaction_bg>:first-child::after {
  background-color: var(--clr-reaction_text);
}

.reaction_bg {
  background-color: var(--clr-reaction_bg);
  background-image: url(../images/icon-reaction.svg);
  background-repeat: no-repeat;
}

.reaction_color {
  color: var(--clr-reaction_text);
}

.summary__score {
  color: var(--clr-gray);
  font-weight: var(--fw-bold);
}

.score__accent {
  margin-right: 0.25rem;
  color: var(--clr-dark-gray-blue);
}

.memory_bg::before,
.memory_bg::after,
.memory_bg>:first-child::before,
.memory_bg>:first-child::after {
  background-color: var(--clr-memory_text);
}

.memory_bg {
  background-color: var(--clr-memory_bg);
  background-image: url(../images/icon-memory.svg);
  background-repeat: no-repeat;
}

.memory_color {
  color: var(--clr-memory_text);
}

.verbal_bg::before,
.verbal_bg::after,
.verbal_bg>:first-child::before,
.verbal_bg>:first-child::after {
  background-color: var(--clr-verbal_text);
}

.verbal_bg {
  background-color: var(--clr-verbal_bg);
  background-image: url(../images/icon-verbal.svg);
  background-repeat: no-repeat;
}

.verbal_color {
  color: var(--clr-verbal_text);
}

.visual_bg::before,
.visual_bg::after,
.visual_bg>:first-child::before,
.visual_bg>:first-child::after {
  background-color: var(--clr-visual_text);
}


.visual_bg {
  background-color: var(--clr-visual_bg);
  background-image: url(../images/icon-visual.svg);
  background-repeat: no-repeat;
}

.visual_color {
  color: var(--clr-visual_text);
}

.continue-btn {
  width: 100%;
  border: none;
  border-radius: 1.875rem;
  padding: 1.25rem 0 1.0625rem;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: 1.0625rem;
  background-color: blue;
  background-color: var(--clr-dark-gray-blue);
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .results_summary_component {
    display: grid;
    grid-template-columns: 1fr 0.94fr;
    max-width: 46.0625rem;
    border-radius: 1.875rem;
    overflow: hidden;
  }

  .score {
    border-radius: 1.875rem;
    padding: 2.4375rem 0 3.4375rem;
  }

  .score__title {
    margin-bottom: 2.1875rem;
    font-weight: var(--fw-medium);
    font-size: 1.45rem;
    letter-spacing: 0.0313rem;
    text-align: center;
  }

  .score__container {
    margin-bottom: 2.1875rem;
    padding: 2.8125rem 3.75rem 2.5rem 3.75rem;
    line-height: 1.25;
  }

  .score__value {
    font-size: 1.125rem;
  }

  .accent {
    font-size: 4.375rem;
  }

  .score__evaluation {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    letter-spacing: 0.0625rem;
  }

  .score__text {
    padding: 0 3.75rem;
    font-size: 1.125rem;
    text-align: center;
  }

  .summary {
    padding: 2.375rem 2.5rem 2.375rem 1.1875rem;
  }

  .summary__title {
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
  }

  .summary__list {
    gap: 1.0625rem;
    margin-bottom: 2.625rem;
  }

  .summary__list-item {
    padding: 1rem 1.125rem 1rem 2.875rem;
  }

  .summary__category {
    font-size: 1.125rem;
  }

  .summary__score {
    font-size: 1.125rem;
  }

  .score__accent {
    font-size: 1.125rem;
  }
}